html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 30px;
  width: 30px;
  padding: 8px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-bottom-color: #424956;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #282c34;

  position: sticky;
  top: 0;
}

.App-middle {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 0px;
}

main {
  padding: 5px 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 10px;
  overflow-y: auto;
}

.App-rows {
  display: flex;
  flex-direction: column;
  justify-content: top;
  flex-grow: 1;
}

footer {
  position: sticky;
  bottom: 0;
}
